<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>index</title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script src="jquery/jquery-1.9.1.min.js"></script>
		<script src="js/template.js" type="text/javascript" charset="utf-8"></script>
		
	</head>
	<body>
		
		<div id="tch-myMap">
			<div class="dt-ms">
				<button class="close-map">关闭地图</button>
			</div>
			<div id="myMap-main"></div>
		</div>
		
		
		<div class="indexTop">
			<div class="warp">
					<ul class="ul-topL">
						<li>
							<span class="topbar-city" >深圳</span>
							<a class="topbar-citychange-trigger" href="#">[切换城市]</a>
						</li>
						<li class="last"><a href="http://bang.360.cn/" class="item">同城帮首页</a></li>
					</ul>
					
					<ul class="ul-topR">
						<li><a href="#" class="user-login item" style="border-left: none;">登录</a></li>
						<li><a href="#" class="user-reg item">注册</a></li>
						<li><a href="#">我的订单</a></li>
						<li><a>客服电话：4000-399-360</a></li>
						<li><a>客户服务</a></li>
						<li><a href="#">论坛</a></li>
						<li><a style="color:#F00;href="#">投诉建议</a></li>
					</ul>
			</div>
		</div>
		<div class="index-top-banner warp"> 
			<img src="images/top-logo_03.png" />
			<ul class="top-banner-ul">
				<li>二手良品
					<span class="logo-span"><img src="images/logo-span.png"></span>
				</li>
				<li>手机回收</li>
				<li>手机维修</li>
				<li>电脑维修</li>
				<li>以旧换新</li>
				<li>手机租用</li>
			</ul>
		</div>
		
		<div class="index-center-banner warp">
			<div class="centerNav">
				<ul>
					<li class="ul-li1"><span>修手机/Pad</span>
						<div class="centerNav-Ifo">
							<div class="ct-Ifo-h">
								<div id="ct-Ifo-t">屏幕 ></div>
								<a href="#">屏碎，但显示正常</a>
								<a href="#">屏幕不显示或花屏</a>
								<a href="#">屏幕触摸失灵</a>
								<a href="#">Pad更换屏幕</a>
							</div>
							<div class="ct-Ifo-h">
								<div id="ct-Ifo-t">电池/充电/开机  ></div>
								<a href="#">电池问题</a>
								<a href="#">不开机</a>
								<a href="#">充电(连接)问题</a>
							</div>
							<div class="ct-Ifo-h">
								<div id="ct-Ifo-t">按键  ></div>
								<a href="#">开关机键失灵</a>
								<a href="#">Home键失灵</a>
								<a href="#">音量键失灵</a>
							</div>
							<div class="ct-Ifo-h">
								<div id="ct-Ifo-t">声音/震动  ></div>
								<a href="#">听筒问题</a>
								<a href="#">麦克风问题</a>
								<a href="#">外放扬声器问题</a>
								<a href="#">耳机插口故障</a>
								<a href="#">震动功能失效</a>
							</div>
							<div class="ct-Ifo-h">
								<div id="ct-Ifo-t">拍照/录像   ></div>
								<a href="#">后摄像头无法拍照</a>
								<a href="#">前摄像头拍照故障</a>
							</div>
							<div class="ct-Ifo-h">
								<div id="ct-Ifo-t">外壳/边框   ></div>
								<a href="#">中框变形</a>
								<a href="#">手机换彩壳</a>
							</div>
							<div class="ct-Ifo-h">
								<div id="ct-Ifo-t">进水入液/主板故障 ></div>
								<a href="#">进水入液</a>
								<a href="#">手机主板故障</a>
							</div>
							<div class="ct-Ifo-h">
								<div id="ct-Ifo-t">其他故障  ></div>
								<a href="#">软件升级/刷机</a>
								<a href="#">WiFi功能故障</a>
							</div>
							<div class="ct-Ifo-h">
								<div id="ct-Ifo-t">个性化服务  ></div>
								<a href="#">点亮iPhone logo</a>
								<a href="#">蓝光护眼钢化膜</a>
								<a href="#">极透高清钢化膜</a>
								<a href="#">爱机深度清洁</a>
								<a href="#">手机换彩壳</a>
							</div>
						</div>
						<div id="index-jt-img"></div>
					</li>
					<li class="ul-li2"><span>修电脑</span>
						<div class="centerNav-Ifo" id="nav-Ifo-o">
							<ul class="Ifo-ul1">
								<li class="Ifo-ul1-first"><a href=""></a>热门问题：</li>
								<li><a href=""></a>系统重装</li>
								<li><a href=""></a>电脑清灰</li>
								<li><a href=""></a>VR移机/安装</li>
								<li><a href=""></a>数据恢复</li>
								<li class="Ifo-ul1-L"><a href=""></a>系统故障修复</li>
								<li><a href=""></a>驱动安装</li>
							</ul>
							
							<ul  class="Ifo-ul2">
								<li class="Ifo-ul1-first"><a href=""></a>其他问题：</li>
								<li><a href=""></a>游戏加速</li>
								<li><a href=""></a>开机加速</li>
								<li><a href=""></a>网速优化</li>
								<li><a href=""></a>蓝屏死机</li>
								<li class="Ifo-ul1-L"><a href=""></a>电脑没声音</li>
								<li><a href=""></a>路由器调试</li>
								<li><a href=""></a>无法上网</li>
								<li><a href=""></a>家庭局域网</li>
								<li class="Ifo-ul1-L"><a href=""></a>更换风扇</li>
								<li><a href=""></a>病毒查杀</li>
							</ul>
						</div>
						<div id="index-jt-img" style="top:122px;"></div>
					</li>
					<li class="ul-li3"><span>卖手机</span>
						<div class="centerNav-Ifo" id="nav-Ifo-o">
						<ul class="Ifo-ul1 Ifo-LR">
								<li><a href=""></a>苹果</li>
								<li><a href=""></a>三星</li>
								<li><a href=""></a>小米</li>
								<li><a href=""></a>华为</li>
								<li><a href=""></a>步步高</li>
								<li><a href=""></a>OPPO</li>
								<li><a href=""></a>HTC</li>
								<li><a href=""></a>魅族</li>
								<li><a href=""></a>索尼</li>
								<li><a href=""></a>联想</li>
								<li><a href=""></a>酷派</li>
								<li><a href=""></a>中兴</li>
								<li><a href=""></a>诺基亚</li>
								<li><a href=""></a>朵唯</li>
								<li><a href=""></a>乐视</li>
								<li><a href=""></a>LG</li>
								<li><a href=""></a>黑莓</li>
								<li><a href=""></a>摩托罗拉</li>
								<li><a href=""></a>360手机</li>
								<li><a href=""></a>微软</li>
								<li><a href=""></a>美图秀秀</li>
								<li><a href=""></a>一加</li>
								<li><a href=""></a>锤子</li>
								<li><a href=""></a>金立</li>
								<li><a href=""></a>TCL</li>
								<li><a href=""></a>小辣椒</li>
							</ul>
						</div>
						<div id="index-jt-img" style="top:206px;"></div>
					</li>
					<li class="ul-li4"><span>买二手机</span>
						<div class="centerNav-Ifo" id="nav-Ifo-o">
						<ul class="Ifo-ul1 Ifo-LR">
								<li><a href=""></a>三星</li>
								<li><a href=""></a>苹果</li>
								<li><a href=""></a>小米</li>
								<li><a href=""></a>华为</li>
								<li><a href=""></a>HTC</li>
								<li><a href=""></a>诺基亚</li>
								<li><a href=""></a>酷派</li>
								<li><a href=""></a>索尼</li>
								<li><a href=""></a>魅族</li>
								<li><a href=""></a>中兴</li>
								<li><a href=""></a>联想</li>
								<li><a href=""></a>金立</li>
								<li><a href=""></a>努比亚</li>
								<li><a href=""></a>摩托罗拉</li>
								<li><a href=""></a>朵唯</li>
								<li><a href=""></a>一加</li>
								<li><a href=""></a>锤子</li>
								<li><a href=""></a>vivo</li>
								<li><a href=""></a>oppo</li>
								<li><a href=""></a>乐视</li>
								<li><a href=""></a>360手机</li>
								<li><a href=""></a>美图秀秀</li>
								<li><a href=""></a>微软</li>
								<li><a href=""></a>戴尔</li>
							</ul>
						</div>
						<div id="index-jt-img"  style="top:292px;"></div>
					</li>
				</ul>
			</div>
			
			<div class="warp lunbo">
				<div class="centerNav-img">
				<ul  id="ulBo">
					<li><img src="images/bannar1.png" /></li>
					<li><img src="images/bannar2.png" /></li>
					<li><img src="images/bannar3.png" /></li>
					<li><img src="images/bannar4.png" /></li>	
				</ul>
			</div>
			</div>
			
			<div class="bannar-point">
				<span></span>
				<span></span>
				<span></span>
				<span class="bannar-point-active"></span>
			</div>
		</div>
		
		<div class="index-main">
			<div class="centerNav-B  warp">
				<img src="images/bannar-B1.jpg" />
				<img src="images/bannar-B2.jpg" />
				<img src="images/bannar-B3.jpg" />
				<img src="images/bannar-B4.jpg" style="border-right: none;"/>
			</div>
		<div class="warp tit">
			<div class="tit-inner">
				<h2>热门手机回收</h2>
			</div>
		</div>
		
		<div class="cnt warp">
			<img src="images/cnt-left.png" />
			<div class="cnt-R">
				<div class="p-img">
					<img src="images/p-imgL1.jpg"/>
				</div>
				<div class="p-name">苹果iPhone 6</div>
			</div>
			
			<div class="cnt-R">
				<div class="p-img">
					<img src="images/p-imgL2.jpg"/>
				</div>
				<div class="p-name">苹果iPhone 5s</div>
			</div>
			
			<div class="cnt-R">
				<div class="p-img">
					<img src="images/p-imgL3.jpg"/>
				</div>
				<div class="p-name">小米 M4</div>
			</div>
			
			<div class="cnt-R">
				<div class="p-img">
					<img src="images/p-imgL4.jpg"/>
				</div>
				<div class="p-name">华为 Mate 7</div>
			</div>
			
			<div class="cnt-R">
				<div class="p-img">
					<img src="images/p-imgL5.jpg"/>
				</div>
				<div class="p-name">魅族 MX5</div>
			</div>
		</div>
		
		<div class="warp tit">
			<div class="tit-inner">
				<h2>二手良品精选</h2>
			</div>
		</div>
		
		<div class="cnt warp">
			<img src="images/cnt-right.png" />
			<div class="cnt-R">
				<div class="p-img">
					<img src="images/p-imgR1.jpg"/>
				</div>
				<div class="p-name">三星 Galaxy S7 edge g9350</div>
			</div>
			
			<div class="cnt-R">
				<div class="p-img">
					<img src="images/p-imgR2.jpg"/>
				</div>
				<div class="p-name">苹果 iPhone 6 Plus</div>
			</div>
			
			<div class="cnt-R">
				<div class="p-img">
					<img src="images/p-imgR3.jpg"/>
				</div>
				<div class="p-name">华为 华为畅享5</div>
			</div>
			
			<div class="cnt-R">
				<div class="p-img">
					<img src="images/p-imgR4.png"/>
				</div>
				<div class="p-name">苹果 iPhone 6s Plus</div>
			</div>
			
			<div class="cnt-R">
				<div class="p-img">
					<img src="images/p-imgR5.jpg"/>
				</div>
				<div class="p-name">苹果 iPhone 6s</div>
			</div>
		</div>
		
		<div class="warp tit">
			<div class="tit-inner">
				<h2>到店维修</h2>
			</div>
		</div>
		</div>
		
		<div class="warp searches">
			<div class="sel-city ">深圳
			</div>
			<div class="sel-quxian">选择区县</div>
			<div class="addr-search-box">
				<form action="">
					<input type="text" name="" class="addr-ipt" />
					<button class="addr-btn" type="submit">搜索</button>
				</form>
				
			</div>
		</div>
		
		<div class="warp shop clear">
			<div class="shop-list">
				<div class="shop-list-filter">
					<ul class="sort-type">
						<li class="active-li">默认排序</li>
						<li>按成交量</li>
						<li>按人气</li>
					</ul>
					
					<div class="filter-check">
						<label>
							<input class="chkbox" type="checkbox" name="is_bzj">先行赔付
						</label>
					</div>
					
					<div class="shop-map">
						<button id="map-btn">地图模式</button>
					</div>
				</div>
				
			<div id="shop-items"></div>
			<script type="text/template" id="tpl">
			<% for(var k in shop_data){	%>
				<div class="list-item">
					<img src=<%= shop_data[k].shop_ico %> />
					<div class="cont">
						<h3>
							<a href="#"><%= shop_data[k].shop_name %></a>
							<div class="shop-grade">
								店铺等级：<a><%= shop_data[k].shop_score %></a>
							</div>
						</h3>
						<div class="desc">
							<%= shop_data[k].shop_desc %>
						</div>
						<div class="addr">
							<%= shop_data[k].addr %>
						</div>
						<div class="shop-score">
							<div class="shop-item-pf">
									<img src="images/shop-logo2.png" />
								先行赔付
							</div>
							<div class="shop-rz">
									<img src="images/shop-logo1.png" />
								同城帮认证</div>
							<div class="shop-item-rq">
								<span>人气：<a><%= shop_data[k].shop_visit %></a>次浏览</span>
							</div>
						</div>
						<button class="shop-btn">进入店铺</button>
					</div>
				</div>
				<% } %>
			</script>
				
				
				<div class="shop-list-checkbox">
						<span class="checkbox-num  start" style="display: none;">首页</span>
						<span class="shop-checkbox-pre" style="width:102px;display: none;">《上一页</span>
						<span class="checkbox-num che-active">1</span>
						<span class="checkbox-num">2</span>
						<span class="checkbox-num">3</span>						
						<span class="shop-checkbox-nex  next" style="width:102px">下一页》</span>
						<span class="checkbox-num  last">尾页</span>
				</div>
			</div>
			
				
			
			<div class="haoping-list">
				<h3>商家好评榜</h3>
				<div class="cont-list">
					<ul>
						<li>
							<div class="cont-list-num  active-num">
								1
							</div>
							<img src="images/haoping-img1.png" />
							<p class="cont-list-tit">能帮科技</p>
							<p>1121条评论</p>
						</li>
						
						<li>
							<div class="cont-list-num active-num">
								2
							</div>
							<img src="images/haoping-img1.png" />
							<p class="cont-list-tit">能帮科技</p>
							<p>1121条评论</p>
						</li>
						
						<li>
							<div class="cont-list-num  active-num">
								3
							</div>
							<img src="images/haoping-img1.png" />
							<p class="cont-list-tit">能帮科技</p>
							<p>1121条评论</p>
						</li>
						
						<li>
							<div class="cont-list-num">
								4
							</div>
							<img src="images/haoping-img1.png" />
							<p class="cont-list-tit">能帮科技</p>
							<p>1121条评论</p>
						</li>
						
						<li>
							<div class="cont-list-num">
								5
							</div>
							<img src="images/haoping-img1.png" />
							<p class="cont-list-tit">能帮科技</p>
							<p>1121条评论</p>
						</li>
						
						<li>
							<div class="cont-list-num">
								6
							</div>
							<img src="images/haoping-img1.png" />
							<p class="cont-list-tit">能帮科技</p>
							<p>1121条评论</p>
						</li>
						
						<li>
							<div class="cont-list-num">
								7
							</div>
							<img src="images/haoping-img1.png" />
							<p class="cont-list-tit">能帮科技</p>
							<p>1121条评论</p>
						</li>
					</ul>
				</div>
			</div>		
		</div>
		
		<div class="index-foot clear">
		 <div class="footWarp">
			<div class="foot-nav">
				<ul class="foot-nav-ul">
					<li>
						<span class="foot-nav-li1"></span>
						<div class="foot-nav-liR">
							<h3>购物指南</h3>
							<p>购物流程</p>
							<p>用户注册</p>
							<p>帮助文档</p>
						</div>
					</li>
					
					<li>
						<span class="foot-nav-li2"></span>
						<div class="foot-nav-liR">
							<h3>支付方式</h3>
							<p>在线支付</p>
							<p>当面付款</p>
						</div>
					</li>
					
					<li>
						<span class="foot-nav-li3"></span>
						<div class="foot-nav-liR">
							<h3>售后服务</h3>
							<p>投诉建议</p>
						</div>
					</li>
					
					<li>
						<span class="foot-nav-li4"></span>
						<div class="foot-nav-liR">
							<h3>特色保障</h3>
							<p>360担保支付</p>
						</div>
					</li>
					
					<li>
						<span class="foot-nav-li5"></span>
						<div class="foot-nav-liR">
							<h3>商家合作</h3>
							<p><a href="#">加盟同城帮</a></p>
						</div>
					</li>
					
				</ul>
			</div>
			<div class="foot-bottom">
				<p style="padding:20px 10px 0 10px">客服电话：4000-399-360
					&nbsp;&nbsp;&nbsp;&nbsp;投诉建议&nbsp;&nbsp;
					<a>网站地图</a>
				</p>
				<p>Copyright © 2005-2016&nbsp;360.CN&nbsp;&nbsp;All Rights Reserved&nbsp;&nbsp;360安全中心</p>
				<p><a>京ICP备08010314号-19</a>&nbsp;&nbsp;&nbsp;&nbsp;京公网安备110000000006号</p>
			</div>
			
		</div>		
		</div>
		<script type="text/javascript" src="js/index.js"></script>
		<script src="http://webapi.amap.com/maps?v=1.3&key=971af7e5f044628174e44adae9a64917&callback=init"></script>
</body>
</html>
